<div class="easyui-layout">
    <div data-options="region:'north',title:'1" style="height:25px">
        <h2 style="text-align:center">@ViewData["Title"] </h2>
    </div>
    <div data-options="region:'center',title:'Main Title',iconCls:'icon-ok'" style="height:85%"><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewData["Content"]</p>  </div>
    <div data-options="region:'south',title:'2',split:true" style="height:50px;">
        <p style="text-align:right">@ViewData["EstablishDate"]</p>
        <p style="text-align:right;margin-right:65px;">@ViewData["StaffName"]</p>
    </div>
</div>