<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.6.11/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.6.11/themes/icon.css" />
<script type="text/javascript" src="~/Content/jquery-easyui-1.6.11/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/jquery-easyui-1.6.11/jquery.easyui.min.js"></script>

<style>
    body {
        margin: 0px;
        padding: 0px;
    }
</style>


@*显示数据的表格  *@
<table id="dg" class="easyui-datagrid" style="width:100%;height:100%;"
       url="/RegulationsManage/GetAllRegulations" toolbar="#toolbar" striped="true" loadMsg="正在加载数据" rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="Id" width="50">编号</th>
            <th field="StaffName" width="50">发布人</th>
            <th field="Title" width="50">标题</th>
            <th field="RegulationsContent" width="50">内容</th>
            <th field="EstablishDate" width="50">发布时间</th>
        </tr>
    </thead>
</table>

@*表格的工具栏*@
<div id="toolbar" style="padding:8px;height:auto">
    <div style="margin-bottom:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="showRegulations()">查看</a>
        <span style="margin-right:10px;">发布人:</span><input id="name" class="easyui-textbox" style="width:100px">
        <span style="margin-right:10px;margin-left:10px;">标题:</span><input id="title" class="easyui-textbox" style="width:100px">
        <a href="#" class="easyui-linkbutton" style="margin-left:10px;" iconCls="icon-search" onclick="doSearch()">搜索</a>
    </div>
</div>
<script>
    /*设置分页属性*/
    $(function () {
        init_datagrid();
    });

    function dgReload() {
        $('#dg').datagrid('reload');
    }

    /*表格属性初始化*/
    function init_datagrid() {
        $("#dg").datagrid({
            method: 'post',
            singleSelect: true,
            remoteSort: true, //定义从服务器对数据进行排序。
            pagination: true, //在DataGrid控件底部显示分页工具栏。
            pageNumber: 1,
            pageSize: 20,
            pageList: [5, 10, 15, 20],
            fitColumns: true,
            rownumbers: true,
            checkbox: true,
            selectOnCheck: false,
            checkOnSelect: false
        });

        var p = $('#dg').datagrid('getPager');
        $(p).pagination({
            beforePageText: '第',//页数文本框前显示的汉字
            afterPageText: '页    共 {pages} 页',
            displayMsg: '当前显示 {from}-{to} 条记录,共 {total} 条记录',
        })
    }

    var url;

    /*搜索按钮*/
    function doSearch() {
        $('#dg').datagrid('load', {
            name: $('#name').val(),
            title: $('#title').val(),
        });
    }

    /*显示详情*/
    function showRegulations() {
        var row = $('#dg').datagrid('getSelected');
        if (row) {
            url = '/RegulationsManage/DetailedRegulations/' + row.Id;
            addTabX(row.Title, url);
        } else {
            $.messager.show({
                title: '查看提醒',
                msg: '请选择一行要查看的数据 ！',
                timeout: 1000,
                showType: 'show'
            });
        }
    }
    /*左边菜单创建 Tabs 页*/
    function addTabX(title, url) {
        var jq = top.jQuery;
        if (jq('#tabs').tabs('exists', title)) {
            jq('#tabs').tabs('select', title);
        } else {
            var content = '<iframe scrolling="auto" frameborder="0"  src="' + url + '" style="width:100%;height:100%;padding:0px;margin:0px;"></iframe>';
            jq('#tabs').tabs('add', {
                title: title,
                content: content,
                closable: true
            });
        }
    }
</script>