<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.6.11/themes/default/easyui.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery-easyui-1.6.11/themes/icon.css" />
<script type="text/javascript" src="~/Content/jquery-easyui-1.6.11/jquery.min.js"></script>
<script type="text/javascript" src="~/Content/jquery-easyui-1.6.11/jquery.easyui.min.js"></script>
<script type="text/javascript" src="~/Content/jquery-easyui-1.6.11/datagrid-detailview.js"></script>

<style>
    body {
        margin: 0px;
        padding: 0px;
    }
</style>

<table id="dg" class="easyui-datagrid" style="width:100%;height:100%;"
       url="/CommodityManage/GetAllCommodity" toolbar="#toolbar" striped="true" loadMsg="正在加载数据" rownumbers="true" fitColumns="true" singleSelect="true">
    <thead>
        <tr>
            <th field="Id" width="50">编号</th>
            <th field="Name" width="50">名称</th>
            <th field="UnitPrice" width="50">单价</th>
            <th field="CommodityNum" width="50">库存</th>
            <th field="SeparableNum" width="50">可分配量</th>   
        </tr>
    </thead>
</table>

@*表格的工具栏*@
<div id="toolbar" style="padding:8px;height:auto">
    <div style="margin-bottom:5px">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="showCommodity()">添加商品种类</a>
        <span style="margin-right:10px;">商品名称：</span><input id="name" name="name" class="easyui-textbox" style="width:100px">
        <a href="#" class="easyui-linkbutton" style="margin-left:10px;" iconCls="icon-search" onclick="doSearch()">搜索</a>
    </div>
</div>

@** 弹出添加商品框框 *@
<div id="dlgC" class="easyui-dialog" style="width:400px" data-options="closed:true,modal:true,border:'thin',buttons:'#dlg-buttons'">
    <form id="fmC" method="post" novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px">
            <input id="name" name="name" class="easyui-textbox" label="商品名称:" style="width:100%" data-options="required:true,missingMessage:'请不要留空'">
        </div>
        <div style="margin-bottom:20px">
            <input name="unitPrice" class="easyui-numberbox" label="商品单价:" style="width:100%" required="required" data-options="min:0,max:10000,precision:2">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="editDiscount()" style="width:90px">添加</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript: $('#dlgC').dialog('close')" style="width:90px">关闭</a>
</div>


<script>
    /*设置分页属性*/
    $(function () {
        init_datagrid();
    });

    function dgReload() {       
        $('#dg').datagrid('reload');            
    }

    /*表格属性初始化*/
    function init_datagrid() {
        $("#dg").datagrid({
            method: 'post',
            singleSelect: true,
            remoteSort: true, //定义从服务器对数据进行排序。
            pagination: true, //在DataGrid控件底部显示分页工具栏。
            pageNumber: 1,
            pageSize: 20,
            pageList: [5, 10, 15, 20],
            fitColumns: true,
            rownumbers: true,
            checkbox: true,
            selectOnCheck: false,
            checkOnSelect: false
        });

        var p = $('#dg').datagrid('getPager');
        $(p).pagination({
            beforePageText: '第',//页数文本框前显示的汉字
            afterPageText: '页    共 {pages} 页',
            displayMsg: '当前显示 {from}-{to} 条记录,共 {total} 条记录',
        })
    }

    /*搜索按钮*/
    function doSearch() {
        $('#dg').datagrid('load', {
            name: $('#name').val(),
        });
    }

    /*显示添加框*/
    function showCommodity() {
        $('#fmC').form('clear');
        $('#dlgC').dialog('open').dialog('center').dialog('setTitle', '添加办理');
    }

    function editDiscount() {
        $('#fmC').form('submit', {
            url: '/CommodityManage/AddCommodity',
            onSubmit: function () {
                return $(this).form('validate');
            },
            success: function (result) {
                var result = eval('(' + result + ')');
                if (result.success) {
                    $('#dlgC').dialog('close');
                    $('#dg').datagrid('reload');
                } else {
                    $.messager.show({
                        title: '添加错误',
                        msg: result.executeResult,
                        timeout: 1000,
                        showType: 'show'
                    });
                }
            }
        });
    }
</script>

